body{
	margin: 0;
}
.yellow{
	height:200px;
	width: 100%;
	background-color: yellow;
	position: relative;
	left: 00px;
	
}
.red{
	height:200px;
	width: 200px;
	background-color: red;
	/*position: relative;
	left: 400px;
	bottom: 200px;*/
}
.blue{
	height:200px;
	width: 200px;
	background-color: blue;
	/*position: relative;
	bottom: 400px;*/
}
.im{
	position: absolute;
	right: 20px;
}
/*.pink{
	height:200px;
	width: 200px;
	background-color: pink;*/
